div.social-media-section-container {
    position: fixed;
    z-index: 500;

    top: 50%;
    left: 0%;
}

div.social-media-section-container>div:nth-child(1) {
    border-radius: 0 51px 0 0;
    -webkit-border-radius: 0 51px 0 0;
    -moz-border-radius: 0 51px 0 0;
    -ms-border-radius: 0 51px 0 0;
    -o-border-radius: 0 51px 0 0;
}


/* .social-media-section-container .social-media-icons-container {
    display: ;
} */