footer.container,
footer.container nav,
footer.container div {
    display: flex;
    align-items: flex-start;
    color: var(--baby-powder);
}

footer.container {
    justify-content: space-between;
    background-color: var(--ultra-violet);
    padding: 22px 25px;
}

footer.container nav {
    flex-direction: column;
    width: 100%;
}

footer.container nav * {
    text-wrap: nowrap;
}

footer.container nav a {
    color: var(--baby-powder);
    font-size: 18px;
    text-decoration: none;
}

footer.container nav a:hover {
    text-decoration: underline;
}

footer.container nav h3 {
    color: var(--light-green);
    margin-bottom: 10px;
}

footer.container nav.link-group1 {
    grid-area: link1;
}

footer.container nav.link-group2 {
    grid-area: link2;
}

footer.container nav.link-group3 {
    grid-area: link3;
}

footer.container nav.link-group4 {
    grid-area: link4;
}

footer.container div.logo {
    font-family: var(--lato);
    font-size: 15px;
    flex-direction: column;
    grid-area: logo;
}

footer.container div.logo p {
    width: 100%;
    text-align: center;
}

@media (max-width: 820px) {
    footer.container {
        display: grid;
        justify-content: space-around;
        gap: 15px;
        grid-template-areas:
            "link1 link2"
            "link3 link4";
    }
}

@media (max-width: 375px) {
    footer.container {
        display: grid;
        grid-template-areas:
            "link1" "link2"
            "link3" "link4";

        justify-content: start;
    }
}